.containerIMG {
     background-color: aqua;

}
.imgCircular {
     width: 50%;
     /* clip-path: polygon(0 0, 0 100%, 100% 50%); */
     /* clip-path: polygon(50% 0%, 83% 12%, 100% 50%, 83% 84%, 50% 100%, 0 100%, 0 79%, 0% 43%, 0 0); */
     clip-path: circle(44.6% at 50% 50%);
     margin-left: -5rem;
}

@media (min-width: 768px) {
     .imgCircular {
         width: 35%;
     }
 }